<!-- Some Notes : 
- Popover Must Has ID Ends With -popover
- Popover Call Button Must Has Id Ends With -popover-btn
-->

<!-- HTML MARKUP -->

<!-- Popover Call Btn -->
<a id="example-popover-btn" 
    data-container="body" 
    title="Popover Title" 
    data-toggle="popover" 
    data-placement="bottom" 
    class="btn btn-silver navbar-btn solid-btn">
        Call Popover
</a>

<!-- Popover -->
<div class="popover-contents" id="example-popover">
    <ul class="nav navbar-nav popover-nav">
    <li class="col-md-4"><a href="#"><span class="currency-unit">EGP</span> Egyption Pound</a></li>
    <li><a href="#"><span class="currency-unit">EGP</span> Egyption Pound</a></li>
    <li><a href="#"><span class="currency-unit">EGP</span> Egyption Pound</a></li>
    </u>
</div>


<!-- Js Code -->
<script>
    $('[data-toggle="popover"]').each(function() {
        $(this).click(function(){
            $('[data-toggle="popover"]').not(this).popover('hide');
        });
        $('html').on('click', function (e) {
            $('[data-toggle="popover"]').each(function () {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
        var btnID= $(this).attr('id');
        var contentID= btnID.replace('-btn','');
        $("#" +btnID).popover({
            html : true, 
            content: function() {
              return $("#" +contentID).html();
            }
        });
    });
</script>