<!-- Some Notes : 
- All Page Content Must Be In <div id="wrapper"></div>
- MOmenu Must Be Out Of #wrapper Element
- If You Want To Add Sub Menu In Any li Just Add To It Class .menu-sub
- There Is Two Options In Menu : Slide Or Push
-->

<!-- HTML MARKUP -->
<div class="MOmenu" data-type="push" id="MainMenu1">	
    <div class="menu-head">
        <h3>Categories</h3>
    </div>

    <div class="menu-content">
        <div class="content-wrap">
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="menu-sub">
                    <a href="#">Link</a>
                    <ul>
                        <li>
                            <a href="#">Sub</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Menu Btn -->
<a class="menu-btn" data-target="#MainMenu1" href="#">Text</a>


<!-- Less -->
#wrapper {
    .transition(all @push-duration);
    .transition-delay(0s);
    &.menu-active {
        margin-left: @push-width;
    }
}

.MOmenu {
    width: @push-width;
    background: @push-color;
    position: fixed;
	height: 100%;
    z-index: 1;
    .transition(all @push-duration);
    .transition-delay(0s);
    left: -@push-width;
    &.active-state{left: 0}
    
    
        .menu-head {
            background: lighten(@push-color,2%);
            border-bottom: 1px solid lighten(@push-color,4%);
            
            h3 {
                padding: 20px;
                color: #FFF;
                margin: 0;
                margin-bottom: 5px;
                .text-shadow(0 1px 1px rgba(0,0,0,0.5));
            }
        }    
        .menu-content {
	        height: 100%;
            padding-bottom: 100px; 
            
             ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;

                    a {
                        color: lighten(@push-color,60%);
                        .text-shadow(0 1px 1px rgba(0,0,0,0.5));
                        display: block;
                        padding: 15px;
                        border-bottom: 1px solid lighten(@push-color,4%);
                        margin: 1px 0;
                        .box-shadow(0 0 1px rgba(0,0,0,0.2));
                        .transition(all 0.3s);
                        .transition-delay(0s);

                        &:hover {
                            background: darken(@push-color,5%);
                            border-left: 10px solid lighten(@push-color,10%);
                        }
                    }
                    &:first-child a{margin-top: 0}
                    &:last-child a {margin-bottom: 0}
                    
                    &.menu-sub {
                        & > a:after {
                            font-family: @iconFont;
                            content: '';
                            float: right;
                        }
                        ul {
                            max-height: 0px;
                            .transition(all,0.5s);
                            overflow: hidden;
                             background: darken(@push-color,5%);
                            border-left: 20px solid lighten(@push-color,10%);
                        } 
                        
                        &.sub-active {
                            & > a {
                                background: darken(@push-color,5%);
                                border-left: 10px solid lighten(@push-color,10%);
                                &:after {
                                    content: '';
                                }
                            }
                            ul {
                                max-height: 500px;
                            }
                        }
                    }
                }
            }
        }
    
    &[data-type=push] ~ #wrapper {width: 100%;}
    &[data-type=slide] ~ #wrapper {
        width: auto;
        @media screen and(max-width:@screen-sm) {
            width: 100% !important;
        }
    }
}

.rtl {
    #wrapper {
        &.menu-active {
            margin-left: 0;
            margin-right: @push-width
        }
    }
    .MOmenu {
        left: auto;
        right: -@push-width;
        &.active-state{left: auto;right: 0}

        ul {
            li {
                a {
                    &:hover {
                        border-left: 0;
                        border-right: 10px solid lighten(@push-color,10%);
                    }
                }
                &.menu-sub {
                        & > a:after {
                            float: left;
                        }
                        ul {
                            padding-left: 0;
                            padding-right: 20px;
                        } 
                        
                        &.sub-active {
                            & > a {
                                border-left: none;
                                border-right: 10px solid lighten(@push-color,10%);
                            }
                        }
                    }
            }
        }
    }
    .slimScrollBar, .slimScrollRail {
        right: auto !important;
        left: 10px !important;
    }
}



<!-- JS CODE -->
<script>
    $(function(){
         $(".menu-btn").click(function() {
            var target = $(this).attr("data-target");
             var type = $('.MOmenu').attr("data-type");
            $('#wrapper').toggleClass('menu-active');
            $(target).toggleClass('active-state');
             if ( type == 'slide' ){
                 $('.container').toggleClass('width-auto');
             };
        });
        $(function(){
            var $links = $('.menu-sub > a').click(function () {
                var submenu = $(this).parent();
                $subs.not(submenu).removeClass('sub-active');
                submenu.toggleClass('sub-active');
            });
            var $subs = $links.parent();
        });
        $('.content-wrap').slimScroll({
            alwaysVisible: true,
            distance: '5px',
            railVisible: true,
            railColor: '#222',
            position: 'right',
            height: '100%',
            railOpacity: 0.3
        });
    });
</script>